In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("iris.csv" , delimiter=';')

In [6]:
df.head()

   5.1,3.5,1.4,0.2,Iris-setosa
0  4.9,3.0,1.4,0.2,Iris-setosa
1  4.7,3.2,1.3,0.2,Iris-setosa
2  4.6,3.1,1.5,0.2,Iris-setosa
3  5.0,3.6,1.4,0.2,Iris-setosa
4  5.4,3.9,1.7,0.4,Iris-setosa

In [7]:
column_Names=['slength','swidth','plength','pwidth','species']

In [15]:
data=[
    [4.4,2.9,1.4,0.2,'Iris-setosa'],
[4.9,3.1,1.5,0.1,'Iris-setosa'],
[5.4,3.7,1.5,0.2,'Iris-setosa'],
[4.8,3.4,1.6,0.2,'Iris-setosa'],
[5.9,3,5.1,1.8,'Iris-virginica']

]

iris=pd.DataFrame(data,columns=column_Names)
print(iris)

   slength  swidth  plength  pwidth         species
0      4.4     2.9      1.4     0.2     Iris-setosa
1      4.9     3.1      1.5     0.1     Iris-setosa
2      5.4     3.7      1.5     0.2     Iris-setosa
3      4.8     3.4      1.6     0.2     Iris-setosa
4      5.9     3.0      5.1     1.8  Iris-virginica

In [16]:
iris.isnull().sum()

slength    0
swidth     0
plength    0
pwidth     0
species    0
dtype: int64

In [18]:
iris=iris[iris['species']=='Iris-setosa']
print(iris)

   slength  swidth  plength  pwidth      species
0      4.4     2.9      1.4     0.2  Iris-setosa
1      4.9     3.1      1.5     0.1  Iris-setosa
2      5.4     3.7      1.5     0.2  Iris-setosa
3      4.8     3.4      1.6     0.2  Iris-setosa

In [23]:
irisp=iris[iris['species']=='Iris-virginica']
print(irisp)

Empty DataFrame
Columns: [slength, swidth, plength, pwidth, species]
Index: []

In [24]:
merge=pd.concat([iris,irisp])
print(merge)

   slength  swidth  plength  pwidth      species
0      4.4     2.9      1.4     0.2  Iris-setosa
1      4.9     3.1      1.5     0.1  Iris-setosa
2      5.4     3.7      1.5     0.2  Iris-setosa
3      4.8     3.4      1.6     0.2  Iris-setosa

In [26]:
sort=iris.sort_values(by='species')
print(sort)

   slength  swidth  plength  pwidth      species
0      4.4     2.9      1.4     0.2  Iris-setosa
1      4.9     3.1      1.5     0.1  Iris-setosa
2      5.4     3.7      1.5     0.2  Iris-setosa
3      4.8     3.4      1.6     0.2  Iris-setosa

In [28]:
trans=iris.transpose
print(trans)

<bound method DataFrame.transpose of    slength  swidth  plength  pwidth      species
0      4.4     2.9      1.4     0.2  Iris-setosa
1      4.9     3.1      1.5     0.1  Iris-setosa
2      5.4     3.7      1.5     0.2  Iris-setosa
3      4.8     3.4      1.6     0.2  Iris-setosa>

In [31]:
melt=pd.melt(iris, id_vars=['species'])
print(melt)

        species variable  value
0   Iris-setosa  slength    4.4
1   Iris-setosa  slength    4.9
2   Iris-setosa  slength    5.4
3   Iris-setosa  slength    4.8
4   Iris-setosa   swidth    2.9
5   Iris-setosa   swidth    3.1
6   Iris-setosa   swidth    3.7
7   Iris-setosa   swidth    3.4
8   Iris-setosa  plength    1.4
9   Iris-setosa  plength    1.5
10  Iris-setosa  plength    1.5
11  Iris-setosa  plength    1.6
12  Iris-setosa   pwidth    0.2
13  Iris-setosa   pwidth    0.1
14  Iris-setosa   pwidth    0.2
15  Iris-setosa   pwidth    0.2

In [36]:
wide=melt.pivot_table(index=['species'],columns='variable',values='value').reset_index()
print(wide)

variable      species  plength  pwidth  slength  swidth
0         Iris-setosa      1.5   0.175    4.875   3.275